@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        @apply scroll-smooth;
    }
}



.btn {
    background: 
        linear-gradient(#fff, #fff) padding-box,
        linear-gradient(60deg, #00f, #00e8ff) border-box;
      color: #313149;
      padding: 20px 70px;
      border: 5px solid transparent;
      border-radius: 40px;
      display: inline-block;
      font-size: 28px;
}




/* HEADER GRID GRADIENT BG */
.bg-gradient-button-text {
    background-image: radial-gradient(
        45% 40% at 50% 50%,
        rgba(84, 84, 84, .75) 0%,
        rgba(84, 84, 84, .20) 50%,
        rgba(84, 84, 84, 0) 100%
    );
}

.bg-gradient-button {
    background-image: radial-gradient(
        100% 100% at 50% 50%,
        rgba(84, 84, 84, .5) 0%,
        rgba(84, 84, 84, .2) 70%,
        rgba(84, 84, 84, 0) 100%
    );
}


/* HEADER GRID GRADIENT BG */
.bg-gradient-svg {
    background-image: radial-gradient(
        60% 60% at 50% 50%,
        rgba(84, 84, 84, .25) 0%,
        rgba(84, 84, 84, 0.075) 50%,
        rgba(84, 84, 84, 0.0375) 65%,
        rgba(84, 84, 84, 0.019) 75.5%,
        rgba(84, 84, 84, 0.001) 82.85%,
        rgba(84, 84, 84, 0) 88%,
        rgba(84, 84, 84, 0) 100%
    );
}

/* CARD WITH NOISE AND GRADIENT BG */
.bg-template-card {
    background-image: 
        radial-gradient(150% 200% at 90% -10%,#44444498 0,rgba(84, 84, 84, 0.12) 32.49%,rgba(84, 84, 84, 0) 51.34%),
        radial-gradient(69.96% 25.89% at 50% 100%,#1f1f1f1a 22.77%,rgba(30, 30, 30, 0) 100%);
}

.noise {
    background-position: 50%;
    background-repeat: repeat;
    background-image: url('../../public/noise-2x.png');
    background-size: 140px 100px;
}



/* HEADER BG GRADIENT */
.gradient {
    width: 100%;
    height: 100vh;
    background-color: #00000000;
    background-image: radial-gradient(circle 50vh at 50% 50%, 
        hsla(0, 0%, 10%, 0.738) 19%,
        hsla(0, 0%, 10%, 0.541) 34%,
        hsla(0, 0%, 10%, 0.382) 47%,
        hsla(0, 0%, 10%, 0.278) 56.5%,
        hsla(0, 0%, 10%, 0.194) 65%,
        hsla(0, 0%, 10%, 0.126) 73%,
        hsla(0, 0%, 10%, 0.075) 80.2%,
        hsla(0, 0%, 10%, 0.042) 86.1%,
        hsla(0, 0%, 10%, 0.021) 91%,
        hsla(0, 0%, 10%, 0.008) 95.2%,
        hsla(0, 0%, 10%, 0.002) 98.2%,
        hsla(0, 0%, 10%, 0) 100%
    );
}

svg {
    pointer-events: none;
}


/* SOUND BAR ANIMATION */
.bar {
    position: absolute;
    bottom: 0px;
    height: 2px;
    width: 12px;
    border-radius: 2px;
 }

.bar-animation {
animation: sound 0ms -800ms linear infinite alternate;
}
 
@keyframes sound {
    0% {
        opacity: .25;
        height: 3px; 
    }
    100% {
        opacity: .9;       
        height: 30px;        
    }
}
 
.bar:nth-child(1)  { 
    left: 0px; animation-duration: 774ms; animation-delay: 0ms; background: #ff2828; opacity: .25; 
}
.bar:nth-child(2)  { 
    left: 6px; animation-duration: 733ms; animation-delay: 400ms; background: #ff4128; opacity: .30; 
}
.bar:nth-child(3)  { 
    left: 12px; animation-duration: 707ms; animation-delay: 100ms; background: #ff821c; opacity: .4; 
}
.bar:nth-child(4)  { 
    left: 18px; animation-duration: 758ms; animation-delay: 500ms; background: #ffb71c; opacity: .5; 
}
.bar:nth-child(5)  { 
    left: 24px; animation-duration: 700ms; animation-delay: 200ms; background: #ffc421; opacity: .6; 
}
.bar:nth-child(6)  { 
    left: 30px; animation-duration: 727ms; animation-delay: 600ms; background: #ffe921; opacity: .7; 
}
.bar:nth-child(7)  { 
    left: 36px; animation-duration: 741ms; animation-delay: 300ms; background: #89ff45; opacity: .7; 
}
.bar:nth-child(8)  { 
    left: 42px; animation-duration: 719ms; animation-delay: 700ms; background: #21df4a; opacity: .6; 
}
.bar:nth-child(9)  { 
    left: 48px; animation-duration: 787ms; animation-delay: 400ms; background: #1a98ff; opacity: .5; 
}
.bar:nth-child(10) { 
    left: 54px; animation-duration: 742ms; animation-delay: 800ms; background: #1a6aff; opacity: .4; 
}
.bar:nth-child(11) { 
    left: 60px; animation-duration: 770ms; animation-delay: 650ms; background: #bb38a5; opacity: .3; 
}
.bar:nth-child(12) { 
    left: 66px; animation-duration: 739ms; animation-delay: 900ms; background: #7e0f59; opacity: .25; 
}


 /* SLIDE ENTER ANIMATION */
 .slide-enter-content > * {
    --stagger: 0;
    --delay: 150ms;
    --start: 100ms;
    animation: slide-enter 1s both 1;
    animation-delay: calc(var(--start) + var(--stagger) * var(--delay));
}

.slide-enter-content > *:nth-child(1) { --stagger: 1; }
.slide-enter-content > *:nth-child(2) { --stagger: 2; }
.slide-enter-content > *:nth-child(3) { --stagger: 3; }
.slide-enter-content > *:nth-child(4) { --stagger: 4; }
.slide-enter-content > *:nth-child(5) { --stagger: 5; }
.slide-enter-content > *:nth-child(6) { --stagger: 6; }
.slide-enter-content > *:nth-child(7) { --stagger: 7; }
.slide-enter-content > *:nth-child(8) { --stagger: 8; }
.slide-enter-content > *:nth-child(9) { --stagger: 9; }
.slide-enter-content > *:nth-child(10) { --stagger: 10; }

@keyframes slide-enter {
    0% {
        opacity: 0;
        transform: translateY(10px)
    }
  
    to {
        opacity: 1;
        transform: none
    }
}


/* CUSTOM SCROLLBAR */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(10, 10, 10);
}

::-webkit-scrollbar-thumb {
    background: #2a2a2a;
}

::-webkit-scrollbar-thumb:hover {
    background: #313131;
}